<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul class="row align-item-center justify-between">
                    <li><a href="/blog/">Home</a></li>
                    <li><a href="/blog/create">Add Blogs</a></li>
                    <li><a href="/user/signup">Sign Up</a></li>
                    <li><a href="/user/login">Login</a></li>
                </ul>
               </nav>
          </div>
    </header>
     
</body>
</html>