<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
  <body>
   <%- include('header') %>

    <div class="container">
      <div id="parent-box"></div>
    </div>   
</body>

<script src="/js/home.js"></script>
</html>